*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column
}

nav li{
    list-style: none;
    display: inline-block;
}
#header-nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background-color: white;
        z-index: 1;
}
nav ul {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 0 2%;
    height: 42px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    text-decoration: none;
    width: 100%;
}
header strong{
    position: relative;
    top: -05px;
    padding: 10px;
}
header nav .material-icons{
    padding: 10px;
}

header button{
    background-color:rgb(8, 69, 139);
    border-radius: 0.3em;
    padding: 10px 20px;
    color: white;
    font-size: .7em;
}
