
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 46px auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
header{
    grid-area: 1 / 1 / 2 / 2;
}
main{
    grid-area: 2 / 1 / 3 / 2;
}

footer{
    grid-area: 3 / 1 / 4 / 2;
}
li{
    list-style: none;
    display: inline-block;
}
#header-nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background-color: white;
        z-index: 1;
}
nav ul {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 0 2%;
    height: 42px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    text-decoration: none;
    width: 100%;
}
header li strong{
    position: relative;
    top: -05px;
    padding: -10px;
}
header nav .material-icons{
    padding: 10px;
}

header button{
    background-color:rgb(8, 69, 139);
    border-radius: 0.3em;
    padding: 10px 20px;
    color: white;
    font-size: .7em;
}

.footer-top{
    
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding:20px;
}
.footer-items:last-child{
    padding-left:10px;
    border-left: 1px solid lightgray;
}
.Nyt-logo{
    border-top: 4px solid lightgray;
    display:flex;
    justify-content: space-between;
    padding:10px 0;
}

.footer-bottom{
    font-size:13px;
    color:lightgray;
    padding:10px 0 20px 0;
    text-align:center;
}
.footer-items p, .footer-items h3{
    line-height: 20px;
    font-size:15px;
    margin:5px;
    
}
.footer-top a {
    color:black;
}
.footer-bottom a{
    color:rgb(155, 149, 149);
}

.footer-bottom ul li {
    list-style-type:none;
    margin-right:10px;
}

.footer-bottom ul {
    display:flex;
    justify-content: center;
}
footer a{
    text-decoration: none;  
}
#more-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
#more-info img{
    width: 40px;
}
#main-part{
    margin: 0 33%;
} 
#main-part img, .sub-text1{
    width: 160%;
    margin-left: -25%;
}
iframe {
    width: 100%;
}
.sub-text1{
    font-size: 0.5em;
    color: gray;
}
.share-icons{
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 10px;
margin-bottom: 20px;
margin-top: 20px;
}
.share-icons ul{
    grid-area: 2 / 2 / 3 / 3; 
    margin-left: 20%;
}
.share-icons #date{
    grid-area: 2 / 1 / 3 / 2;
}
#subscribe-1{
    text-align: center;
    margin: 20px 25% ;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
aside{
    position: absolute;
    display: grid;
    padding-left: 225px;
    grid-auto-flow: row;
    width: 380px;
    right: 0;
}
#side-bar img{
    width: 90px;
    float: left;
}
aside ul{
    display: grid;
    font-size: 10px;
}

aside {
    position: absolute;
    top: 1800px;
    left: calc(100% - 280px);
  }
  
  .editors-pick-container {
    width: 210px;
    display: flex;
    flex-direction: column;
  }
  
  .editors-pick-article {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .editors-pick-container h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-bottom: 10px;
    color: black;
  }
  
  .editors-pick-article a {
    text-decoration: none;
    color: #333;
  }
  
  aside a:hover {
    text-decoration: underline;
  }
  
  .editors-pick-article img {
    width: 75px;
    height: 75px;
    margin-right: 5px;
    cursor: pointer;
  }
  .box-part {
    margin: 0 auto;
    width: 945px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .box-part h2 {
    grid-column: 1/5;
    color: black;
    font-size: 20px;
    font-family: "NYTImperial", sans-serif;
    font-weight: 600;
    padding: 8px 0;
  }
  
  .box-part p {
    grid-column: 1/5;
  }
  
  .box-item img {
    width: 100%;
  }
  
  .box-item p {
    line-height: 17px;
    font-size: 13px;
    color: black;
    font-family: "NYTFranklin", sans-serif;
    font-weight: 300;
  }
  
  .box-item strong {
    font-weight: bold;
    margin-right: 10px;
  }
  