*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column
}

nav li{
    list-style: none;
    display: inline-block;
}
#header-nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background-color: white;
        z-index: 1;
}
nav ul {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 0 2%;
    height: 42px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    text-decoration: none;
    width: 100%;
}
header li strong{
    position: relative;
    top: -05px;
    padding: -10px;
}
header nav .material-icons{
    padding: 10px;
}

header button{
    background-color:rgb(8, 69, 139);
    border-radius: 0.3em;
    padding: 10px 20px;
    color: white;
    font-size: .7em;
}

.footer-top{
    
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding:20px;
}
.footer-items:last-child{
    padding-left:10px;
    border-left: 1px solid lightgray;
}
.Nyt-logo{
    border-top: 4px solid lightgray;
    display:flex;
    justify-content: space-between;
    padding:10px 0;
}

.footer-bottom{
    font-size:13px;
    color:lightgray;
    padding:10px 0 20px 0;
    text-align:center;
}
.footer-items p, .footer-items h3{
    line-height: 20px;
    font-size:15px;
    margin:5px;
    
}
.footer-top a {
    color:black;
}
.footer-bottom a{
    color:rgb(155, 149, 149);
}

.footer-bottom ul li {
    list-style-type:none;
    margin-right:10px;
}

.footer-bottom ul {
    display:flex;
    justify-content: center;
}
footer a{
    text-decoration: none;
    
}